<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <permission
        android:name="org.dslul.openboard.inputmethod.latin.HIDE_SOFT_INPUT"
        android:protectionLevel="signature" />

    <application
        android:name="org.dslul.openboard.translator.pro.classes.App"
        android:allowBackup="false"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/english_ime_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name="org.dslul.openboard.translator.pro.NewDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.TranslatorGuru" />
        <activity
            android:name="org.dslul.openboard.translator.pro.OnResumeActivity"
            android:exported="false"
            android:theme="@style/Theme.TranslatorGuru" />

        <activity
            android:name="org.dslul.openboard.translator.pro.ViewTranslatedTextActivity"
            android:exported="false"
            android:theme="@style/Theme.TranslatorGuru" />

        <activity
            android:name="org.dslul.openboard.translator.pro.ConversationActivity"
            android:exported="false"
            android:theme="@style/Theme.TranslatorGuru" />

        <activity
            android:name="org.dslul.openboard.translator.pro.PreSplashScreenActivity"
            android:exported="true"
            android:theme="@style/ForSplash">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="uiMode" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="org.dslul.openboard.translator.pro.CameraTranslationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.OCRActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- Services -->

        <service
            android:name=".LatinIME"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/english_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <service
            android:name=".spellcheck.TranslatorProSpellCheckerService"
            android:exported="true"
            android:label="@string/spell_checker_service_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>

            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service> <!-- Activities -->

        <activity
            android:name="org.dslul.openboard.translator.pro.DisplayHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.DisplayFavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.LanguageSelectorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.TranslateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.TranslateInterstitialActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.PhrasebookDetailedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.PhrasesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name="org.dslul.openboard.translator.pro.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.EnableKeyboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="org.dslul.openboard.translator.pro.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru" />

        <activity
            android:name="org.dslul.openboard.translator.pro.ExitActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslatorGuru" />

        <activity
            android:name=".setup.SetupActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/english_ime_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/platformActivityTheme" />

        <activity
            android:name=".permissions.PermissionsActivity"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".setup.SetupWizardActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/english_ime_name"
            android:theme="@style/platformActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/ime_settings"
            android:theme="@style/platformActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".spellcheck.SpellCheckerSettingsActivity"
            android:exported="true"
            android:label="@string/android_spell_checker_settings"
            android:theme="@style/platformActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.TestFragmentActivity"
            android:exported="false" />

        <receiver
            android:name=".SystemBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DictionaryPackInstallBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.dslul.openboard.inputmethod.dictionarypack.aosp.UNKNOWN_CLIENT" />
            </intent-filter>
        </receiver> <!-- Content providers -->
        <provider
            android:name="org.dslul.openboard.inputmethod.dictionarypack.DictionaryProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="@string/dictionary_provider_name"
            android:multiprocess="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6814505709397727~1751762147" />
    </application>

</manifest>